@mixin background-accent-colors($neutral, $colorful) {
  color: $neutral;

  &.has-accent-color {
    color: $colorful;
  }
}

// The master mixin to create the background color modifiers.
@mixin create-text-color-modifiers {
  @each $color, $value in $brand-colors {
    &.has-#{$color}-color {
      color: $value;
    }
  }
}

@mixin create-gradient-color-text-modifiers {
  @each $color, $values in $brand-colors--gradient-objects {
    &.has-background-gradient--#{$color} {
      @include background-accent-colors(
        map-get($values, 'accent-neutral'),
        map-get($values, 'accent-colorful')
      );
    }
  }
}

@mixin create-single-color-text-modifiers {
  @each $color, $values in $brand-colors--single-objects {
    &.has-#{$color}-background-color {
      @include background-accent-colors(
        map-get($values, 'accent-neutral'),
        map-get($values, 'accent-colorful')
      );
    }
  }
}

/*
 * Headings
 */
@mixin heading {
  font-weight: $font-weight-medium;
}

// 40 - 48px
@mixin heading-size--extra-large {
  @include media-between(zero, tablet) {
    font-size: 2.5rem;
    line-height: 1.25;
  }

  @include media-between(tablet, desktop) {
    font-size: 2.75rem;
    line-height: 1.2;
  }

  @include media(desktop) {
    font-size: 3rem;
    line-height: 1.2;
  }
}

// 30 - 38px
@mixin heading-size--large {
  @include media-between(zero, desktop) {
    font-size: 1.875rem;
    line-height: 1.2;
  }

  @include media(desktop) {
    font-size: 2.375rem;
    line-height: 1.35;
  }
}

// 28px
@mixin heading-size--medium {
  font-size: 1.75rem;
  line-height: 1.4;
}

// 24px
@mixin heading-size--small {
  font-size: 1.5rem;
  line-height: 1.25;
}

// 20px
@mixin heading-size--tiny {
  font-size: 1.25rem;
  line-height: 1.25;
}

/*
 * Copy
 */
@mixin text {
  font-weight: $font-weight-light;

  strong {
    font-weight: $font-weight-medium;
  }
}

@mixin text-size--large {
  font-size: 1.5rem;
  line-height: 1.25;
}

@mixin text-size--medium {
  font-size: 1.125rem;
  line-height: 1.55;
}

@mixin text-size--small {
  font-size: 1rem;
  line-height: 1.375;
}

@mixin text-size--tiny {
  font-size: 0.875rem;
  line-height: 1.375;
}
