// Wrapper
@mixin form {
  margin: 2rem 0 0;

  @media print {
    border: 1px dashed $color-brand-grey;
    padding: 2rem;

    &::before,
    &::after {
      @include text-size--medium;

      display: block;
      font-family: $font-family-sans-serif;
    }

    &::before {
      font-style: italic;
    }

    &::after {
      margin-top: 1rem;
      white-space: pre; // Enables line breaks.
    }

    :lang(en) &::before {
      content: 'The contact form will not be printed. If you have any questions please contact us:';
    }

    :lang(en) &::after {
      content: '+49 2542 9307-0 \A info@d-velop.com';
    }

    > * {
      display: none;
    }
  }
}

@mixin form-group {
  margin: 1.5rem 0 0;
}

@mixin form-input-wrapper {
  display: block;
  margin-top: 0.25rem;
}

// Labels
@mixin form-label {
  @include text-size--medium;

  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
}

@mixin form-label--optional {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  &::after {
    content: '(Optional)';
    font-family: $font-family-sans-serif;
    font-size: 0.75em;
  }

  @each $color, $values in $brand-colors--single-objects {
    .has-#{$color}-background-color & {
      color: map-get($values, 'accent-neutral');

      &::after {
        color: map-get($values, 'accent-neutral');
      }
    }
  }

  @each $color, $values in $brand-colors--gradient-objects {
    .has-background-gradient--#{$color} & {
      color: map-get($values, 'accent-neutral');

      &::after {
        color: map-get($values, 'accent-neutral');
      }
    }
  }
}

@mixin form-label--radio {
  align-items: baseline;
  cursor: pointer;
  display: flex;
  font-weight: $font-weight-light;
  margin-top: 0.25rem;
  min-height: 2rem;
}

// Inputs
@mixin form-input {
  background-color: $color-white;
  border: 2px solid $color-white;
  border-radius: 4px;
  height: 3rem;
  padding: 0.5rem;
  width: 100%;

  &:disabled {
    background-color: $color-brand-grey-33;
    border-color: $color-brand-grey-33;
    cursor: not-allowed;
  }
}

@mixin form-input--has-error {
  border-color: $color-brand-red;

  @each $color, $values in $brand-colors--single-objects {
    .has-#{$color}-background-color & {
      border-color: map-get($values, 'accent-colorful');
    }
  }

  @each $color, $values in $brand-colors--gradient-objects {
    .has-background-gradient--#{$color} & {
      border-color: map-get($values, 'accent-colorful');
    }
  }
}

@mixin form-input--list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin from-input--radio {
  background: transparent;
  height: 1rem;
  margin-right: 0.5rem;
  width: auto;
}

// Feedback
@mixin form-error-list {
  color: $color-brand-red;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  @each $color, $values in $brand-colors--single-objects {
    .has-#{$color}-background-color & {
      color: map-get($values, 'accent-colorful');
    }
  }

  @each $color, $values in $brand-colors--gradient-objects {
    .has-background-gradient--#{$color} & {
      color: map-get($values, 'accent-colorful');
    }
  }

  li {
    margin-top: 0.25rem;

    label {
      font-size: 0.8em;

      &::before {
        content: '\f071';
        display: inline-block;
        font-family: $font-family-icon;
        margin-right: 0.4rem;
      }
    }
  }
}
