// Responsive widths.

$zero-width: 0;
$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1168px;
$wide-width: 1379px;

$breakpoints: () !default;

$breakpoints: map-merge(
  (
    'zero': $zero-width,
    'mobile': $mobile-width,
    'tablet': $tablet-width,
    'desktop': $desktop-width,
    'wide': $wide-width,
  ), $breakpoints
);

// Color system

$color-brand-grey: rgb(51, 62, 72) !default;
$color-brand-grey-100: $color-brand-grey !default;
$color-brand-grey-80: rgb(92, 101, 109) !default;
$color-brand-grey-60: rgb(132, 139, 145) !default;
$color-brand-grey-33: rgb(188, 191, 194) !default;
$color-brand-grey-10: rgb(235, 236, 237) !default;

$color-black: rgb(0, 0, 0) !default;
$color-white: rgb(255, 255, 255) !default;

$color-brand-anthrazit: rgb(66, 85, 101) !default;
$color-brand-apple-green: rgb(175, 255, 130) !default;
$color-brand-aquamarine: rgb(70, 245, 170) !default;
$color-brand-aurora-blue: rgb(0, 219, 222) !default;
$color-brand-azure-blue: rgb(83, 212, 210) !default;
$color-brand-blue: rgb(37, 117, 252) !default;
$color-brand-chimney-orange: rgb(235, 590, 25) !default;
$color-brand-cloudy-blue: rgb(168, 237, 234) !default;
$color-brand-dark-purple: rgb(33, 30, 50) !default;
$color-brand-dark-red: rgb(150, 0, 0) !default;
$color-brand-frog: rgb(0, 255, 0) !default;
$color-brand-green: rgb(0, 189, 107) !default;
$color-brand-forest-green: rgb(0, 118, 0) !default;
$color-brand-heaven-white: rgb(247, 247, 247) !default;
$color-brand-immersive-magenta: rgb(225, 0, 128) !default;
$color-brand-lavander: rgb(95, 70, 130) !default;
$color-brand-leafy-green: rgb(131, 248, 86) !default;
$color-brand-lightblue: rgb(0, 236, 188) !default;
$color-brand-lovely-pink: rgb(237, 66, 100) !default;
$color-brand-mesmerizing-blue: rgb(45, 5, 100) !default;
$color-brand-monumental-blue: rgb(45, 95, 120) !default;
$color-brand-mint: rgb(130, 255, 136) !default;
$color-brand-mistblue: rgb(109, 148, 255) !default;
$color-brand-neon: rgb(216, 255, 0) !default;
$color-brand-ocean-blue: rgb(28, 115, 141) !default;
$color-brand-orange: rgb(255, 151, 0) !default;
$color-brand-petrol: rgb(18, 99, 119) !default;
$color-brand-pineapple: rgb(232, 255, 102) !default;
$color-brand-purple: rgb(106, 17, 203) !default;
$color-brand-red: rgb(255, 8, 68) !default;
$color-brand-rich-green: rgb(13, 255, 100) !default;
$color-brand-soda-turquoise: rgb(13, 126, 136) !default;
$color-brand-shallow-blue: rgb(0, 159, 175) !default;
$color-brand-solid-grey: rgb(39, 46, 56) !default;
$color-brand-sun: rgb(255, 228, 109) !default;
$color-brand-sunny-yellow: rgb(255, 227, 153) !default;
$color-brand-violette: rgb(138, 51, 126) !default;
$color-brand-void-purple: rgb(54, 0, 51) !default;
$color-brand-violet: $color-brand-violette !default;
$color-brand-yellow: rgb(255, 239, 58) !default;
$color-brand-windy-grey: rgb(185, 189, 193) !default;
$color-brand-windy-pink: rgb(225, 0, 128) !default;
$color-brand-celestial-purple: rgb(113, 0, 113) !default;
$color-brand-meridian-green: rgb(110, 230, 180) !default;
$color-brand-sharp-yellow: rgb(255, 255, 2) !default;
$color-brand-yellow-forum: rgb(245, 255, 0) !default;

$brand-colors: () !default;

$brand-colors: map-merge(
  (
    'aquamarine': $color-brand-aquamarine,
    'blue': $color-brand-blue,
    'frog': $color-brand-frog,
    'green': $color-brand-green,
    'grey': $color-brand-grey,
    'grey-10': $color-brand-grey-10,
    'lightblue': $color-brand-lightblue,
    'mint': $color-brand-mint,
    'mistblue': $color-brand-mistblue,
    'neon': $color-brand-neon,
    'orange': $color-brand-orange,
    'petrol': $color-brand-petrol,
    'pineapple': $color-brand-pineapple,
    'purple': $color-brand-purple,
    'red': $color-brand-red,
    'sun': $color-brand-sun,
    'violet': $color-brand-violet,
    'yellow': $color-brand-yellow,
    'yellow-forum': $color-brand-yellow-forum,
    'white': $color-white,
    ), $brand-colors
);

$brand-colors--single-objects: () !default;

$brand-colors--single-objects: map-merge(
  (
    'aquamarine': (
      'primary': $color-brand-aquamarine,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'blue': (
      'primary': $color-brand-blue,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'frog': (
      'primary': $color-brand-frog,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'green': (
      'primary': $color-brand-green,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'grey': (
      'primary': $color-brand-grey,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'grey-10': (
      'primary': $color-brand-grey-10,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'lightblue': (
      'primary': $color-brand-lightblue,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'mint': (
      'primary': $color-brand-mint,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'mistblue': (
      'primary': $color-brand-mistblue,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'neon': (
      'primary': $color-brand-neon,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'orange': (
      'primary': $color-brand-orange,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'petrol': (
      'primary': $color-brand-petrol,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
      ),
    'pineapple': (
      'primary': $color-brand-pineapple,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'purple': (
      'primary': $color-brand-purple,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'red': (
      'primary': $color-brand-red,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'sun': (
      'primary': $color-brand-sun,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'violet': (
      'primary': $color-brand-violet,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'white': (
      'primary': $color-white,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'yellow': (
      'primary': $color-brand-yellow,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'yellow-forum': (
      'primary': $color-brand-yellow-forum,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
  ), $brand-colors--single-objects
);

$brand-colors--gradient-objects: () !default;

$brand-colors--gradient-objects: map-merge(
  (
    // 1. Generation
    'aqua': (
      'primary': $color-brand-blue,
      'secondary': $color-brand-lightblue,
      'accent-colorful': $color-brand-neon,
      'accent-neutral': $color-white,
    ),
    'candy': (
      'primary': $color-brand-purple,
      'secondary': $color-brand-red,
      'accent-colorful': $color-brand-neon,
      'accent-neutral': $color-white,
    ),
    'deep-blue': (
      'primary': $color-brand-purple,
      'secondary': $color-brand-blue,
      'accent-colorful': $color-brand-frog,
      'accent-neutral': $color-white,
    ),
    'happy': (
      'primary': $color-brand-red,
      'secondary': $color-brand-orange,
      'accent-colorful': $color-brand-yellow,
      'accent-neutral': $color-white,
    ),
    'poison': (
      'primary': $color-brand-yellow,
      'secondary': $color-brand-green,
      'accent-colorful': $color-brand-violette,
      'accent-neutral': $color-white,
    ),
    'witch': (
      'primary': $color-brand-mistblue,
      'secondary': $color-brand-violet,
      'accent-colorful': $color-brand-mint,
      'accent-neutral': $color-white,
    ),
    // 2. Generation
    'spiky-naga': (
      'primary': $color-brand-dark-purple,
      'secondary': $color-brand-lavander,
      'accent-colorful': $color-brand-aquamarine,
      'accent-neutral': $color-white,
    ),
    'emerald': (
      'primary': $color-brand-monumental-blue,
      'secondary': $color-brand-apple-green,
      'accent-colorful': $color-brand-aquamarine,
      'accent-neutral': $color-white,
    ),
    'frosty-nova': (
      'primary': $color-brand-azure-blue,
      'secondary': $color-brand-ocean-blue,
      'accent-colorful': $color-brand-mint,
      'accent-neutral': $color-white,
    ),
    'midnight-sky': (
      'primary': $color-brand-purple,
      'secondary': $color-brand-mesmerizing-blue,
      'accent-colorful': $color-brand-mint,
      'accent-neutral': $color-white,
    ),
    'warm-flame': (
      'primary': $color-brand-dark-red,
      'secondary': $color-brand-chimney-orange,
      'accent-colorful': $color-brand-yellow,
      'accent-neutral': $color-brand-grey,
    ),
    'dusty-pines': (
      'primary': $color-brand-rich-green,
      'secondary': $color-brand-forest-green,
      'accent-colorful': $color-brand-purple,
      'accent-neutral': $color-white,
    ),
    'knoxville': (
      'primary': $color-brand-windy-grey,
      'secondary': $color-brand-heaven-white,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'solid-stone': (
      'primary': $color-brand-solid-grey,
      'secondary': $color-brand-anthrazit,
      'accent-colorful': $color-white,
      'accent-neutral': $color-white,
    ),
    'peach': (
      'primary': $color-brand-lovely-pink,
      'secondary': $color-brand-sunny-yellow,
      'accent-colorful': $color-brand-sun,
      'accent-neutral': $color-brand-grey,
    ),
    'mojito': (
      'primary': $color-brand-soda-turquoise,
      'secondary': $color-brand-leafy-green,
      'accent-colorful': $color-brand-pineapple,
      'accent-neutral': $color-white,
    ),
    'morpheus': (
      'primary': $color-brand-void-purple,
      'secondary': $color-brand-shallow-blue,
      'accent-colorful': $color-brand-lightblue,
      'accent-neutral': $color-white,
    ),
    'miracle-north': (
      'primary': $color-brand-aurora-blue,
      'secondary': $color-brand-immersive-magenta,
      'accent-colorful': $color-brand-aquamarine,
      'accent-neutral': $color-white,
    ),
    'rary-wind': (
      'primary': $color-brand-cloudy-blue,
      'secondary': $color-brand-windy-pink,
      'accent-colorful': $color-brand-grey,
      'accent-neutral': $color-brand-grey,
    ),
    'lobster': (
      // no name color
      'primary': rgb(255, 8, 68),
      // no name color
      'secondary': rgb(134, 8, 71),
      'accent-colorful': $color-brand-lightblue,
      'accent-neutral': $color-white,
    ),
    'seaweed': (
      'primary': $color-brand-green,
      // no name color
      'secondary': rgb(0, 93, 107),
      'accent-colorful': $color-brand-pineapple,
      'accent-neutral': $color-brand-grey,
    ),
    'orca': (
      'primary': $color-brand-celestial-purple,
      'secondary': $color-brand-meridian-green,
      'accent-colorful': $color-brand-sharp-yellow,
      'accent-neutral': $color-white,
    ),
  ), $brand-colors--gradient-objects
);

// Typography

$font-family-sans-serif: Ubuntu, sans-serif !default;
$font-family-icon: 'Font Awesome 5 Free' !default;

$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

// Buttons

$button-colors: () !default;

$button-colors: map-merge(
  $brand-colors--single-objects,
  $button-colors
);

$button-font-size: $font-size-sm;
$button-font-weight: $font-weight-normal;
$button-padding-x: 2.5rem;
$button-padding-y: 1rem;

// Transitions

// @link https://material.io/design/motion/speed.html#duration
$duration__dialog--enter: 150ms;
$duration__dialog--exit: 75ms;
$duration__icon--selection: 100ms;
$duration__icon--shape-change: 200ms;
$duration__icon--detailed-animation: 500ms;
$duration__small-area--expand: 250ms;
$duration__small-area--collapse: 200ms;
$duration__large-area--expand: 300ms;
$duration__large-area--collapse: 250ms;

// @link https://material.io/design/motion/speed.html#easing
$easing--standard: cubic-bezier(0.4, 0, 0.2, 1);
$easing--decelerate: cubic-bezier(0, 0, 0.2, 1);
$easing--accelerate: cubic-bezier(0.4, 0, 1, 1);

// Shadows
$card-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.12), 0 1px 3px 1px rgba(66, 66, 66, 0.24);
$card-shadow--hover: 0 0 8px 0 rgba(0, 0, 0, 0.16), 0 0 15px 0 rgba(0, 0, 0, 0.02), 0 0 20px 4px rgba(0, 0, 0, 0.06);
