// The overlay block.
@mixin overlay {
  position: relative;

  &::after {
    bottom: 0;
    content: ' ';
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
}

// The single color variant modifier.
@mixin overlay--default-variant($primary) {
  &::after {
    background: $primary;
  }
}

// The gradient variant modifier.
@mixin overlay--gradient-variant($primary, $secondary) {
  &::after {
    @include gradient($primary, $secondary);
  }
}

// The master mixin to create the overlay styles.
@mixin create-overlays($selector: '.overlay') {
  #{$selector} {
    @include overlay;
  }

  @each $color, $values in $brand-colors--single-objects {
    #{$selector}--#{$color} {
      @include overlay--default-variant(
        map-get($values, 'primary')
      );
    }
  }

  @each $color, $values in $brand-colors--gradient-objects {
    #{$selector}--#{$color}-gradient {
      @include overlay--gradient-variant(
        map-get($values, 'primary'),
        map-get($values, 'secondary')
      );
    }
  }
}
