// Color system

@color-brand-grey: rgb(51, 62, 72);
@color-brand-grey-100: @color-brand-grey;
@color-brand-grey-80: rgb(92, 101, 109);
@color-brand-grey-60: rgb(132, 139, 145);
@color-brand-grey-33: rgb(188, 191, 194);
@color-brand-grey-10: rgb(235, 236, 237);

@color-black: rgb(0, 0, 0);
@color-white: rgb(255, 255, 255);

@color-brand-anthrazit: rgb(66, 85, 101);
@color-brand-apple-green: rgb(175, 255, 130);
@color-brand-aquamarine: rgb(70, 245, 170);
@color-brand-aurora-blue: rgb(0, 219, 222);
@color-brand-azure-blue: rgb(83, 212, 210);
@color-brand-blue: rgb(37, 117, 252);
@color-brand-chimney-orange: rgb(235, 590, 25);
@color-brand-cloudy-blue: rgb(168, 237, 234);
@color-brand-dark-purple: rgb(33, 30, 50);
@color-brand-dark-red: rgb(150, 0, 0);
@color-brand-frog: rgb(0, 255, 0);
@color-brand-green: rgb(0, 189, 107);
@color-brand-forest-green: rgb(0, 118, 0);
@color-brand-heaven-white: rgb(247, 247, 247);
@color-brand-immersive-magenta: rgb(225, 0, 128);
@color-brand-lavander: rgb(95, 70, 130);
@color-brand-leafy-green: rgb(131, 248, 86);
@color-brand-lightblue: rgb(0, 236, 188);
@color-brand-lovely-pink: rgb(237, 66, 100);
@color-brand-mesmerizing-blue: rgb(45, 5, 100);
@color-brand-monumental-blue: rgb(45, 95, 120);
@color-brand-mint: rgb(130, 255, 136);
@color-brand-mistblue: rgb(109, 148, 255);
@color-brand-neon: rgb(216, 255, 0);
@color-brand-ocean-blue: rgb(28, 115, 141);
@color-brand-orange: rgb(255, 151, 0);
@color-brand-petrol: rgb(18, 99, 119);
@color-brand-pineapple: rgb(232, 255, 102);
@color-brand-purple: rgb(106, 17, 203);
@color-brand-red: rgb(255, 8, 68);
@color-brand-rich-green: rgb(13, 255, 100);
@color-brand-soda-turquoise: rgb(13, 126, 136);
@color-brand-shallow-blue: rgb(0, 159, 175);
@color-brand-solid-grey: rgb(39, 46, 56);
@color-brand-sun: rgb(255, 228, 109);
@color-brand-sunny-yellow: rgb(255, 227, 153);
@color-brand-violette: rgb(138, 51, 126);
@color-brand-void-purple: rgb(54, 0, 51);
@color-brand-violet: @color-brand-violette;
@color-brand-yellow: rgb(255, 239, 58);
@color-brand-windy-grey: rgb(185, 189, 193);
@color-brand-windy-pink: rgb(225, 0, 128);

@brand-colors:
    aquamarine @color-brand-aquamarine,
    blue @color-brand-blue,
    frog @color-brand-frog,
    green @color-brand-green,
    grey @color-brand-grey,
    'grey-10' @color-brand-grey-10,
    lightblue @color-brand-lightblue,
    mint @color-brand-mint,
    mistblue @color-brand-mistblue,
    neon @color-brand-neon,
    orange @color-brand-orange,
    petrol @color-brand-petrol,
    pineapple @color-brand-pineapple,
    purple @color-brand-purple,
    red @color-brand-red,
    sun @color-brand-sun,
    violet @color-brand-violet,
    yellow @color-brand-yellow,
    white @color-white
;
